/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-primary: #42b883;
  --color-primary-hover: #3aa876;
  --color-background-semi-dark: #3a4a5e;
  --color-background-dark: #2c3e50;
  --color-background-darker: #35495e;
  --color-background-darkest: #181818;
  --color-border-dark: #3a4a5e;
  --color-text-light: #ffffff;
  --color-text-muted: #aaaaaa;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  --card-width: 500px;
  --card-max-height: 70vh;
  --border-radius: 8px;

  --transition-duration: 0.3s;
  --transition-easing-slowstart: cubic-bezier(1, 0, 0.2, 1.2);
  --transition-easing-quickstart: cubic-bezier(0.5, 0, 0.2, 1.2);
}

/* semantic color variables for this project */
:root {
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-darkest);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text-muted);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
